.menu {
  background-color: #fff;
  width: 129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuItem {
  text-align: center;
  padding: 16px;
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'Poppins';
  font-size: 1rem;
  cursor: pointer;
}

.titleMenu {
  color: #848484;
  font-weight: 500;
}

.active {
  background-color: #fdc844;
  border-radius: 8px;
}

.active p,
.active path {
  fill: #000;
  color: #000;
}