.form {
  background-color: #fff;
  padding: 32px 48px;
  border-radius: 8px;
  width: 721px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 32px;
}

.subTitle {
  line-height: 1;
  margin-top: 44px;
}