.products {
  width: 70%;
  padding: 48px 85px 0px 85px;
  margin-left: 129px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 36px;
}

.areaProducts {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px){

  .products {
    padding: 0px;
    margin-left: 0;
  }

  .title {
    margin-bottom: 0;
    margin-top: 32px;
    margin-left: 16px;
  }

  .areaProducts {
    width: 100vw;
    justify-content: center;
  }

}