.checkout {
  background-color: #fafafa;
  display: flex;
  height: 100vh;
}

.mainCheckout {
  margin-top: 16px;
  margin-left: 16px;
}

.mainCheckout a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 24px;
}

.formArea {
  margin-top: 32px;
  margin-left: 64px;
  justify-self: center;
}

@keyframes enterLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 480px){

  .checkout {
    height: auto;
  }

  .openCheckout {
    display: block;
    opacity: 0;
    transform: translateX(500px);
    animation: enterLeft .3s forwards;
  }

  .mainCheckout {
    height: 100%;
    margin: 16px 0px 0px 0px;
  }

  .formArea{
    margin-left: 0px;
    max-width: 100vw;
  }
  
}