.wrapper {
  margin-top: 38px;
}

.input {
  border: 1px solid #dadada;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 8px;
  background: transparent;
  transition: 0.3s;
}

.input::placeholder {
  font-family: 'Poppins';
  font-size: 16px;
  color: #848484;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fdc844;
  background: transparent;
  
}

.label {
  display: block;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 8px;
}

.complement {
  display: block;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 8px;
  margin-top: 20px;
}

.error {
  color: #ff2351;
  font-size: 14px;
  margin-top: 4px;
}

.address {
  margin-top: 38px;
  margin-bottom: 38px;
  color: #848484;
}

.subTitle {
  line-height: 1;
  margin-top: 52px;
}

.typePay {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
}