.defaultAddress {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
}

.cardAddress {
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 16px 32px;
  width: 60%;
  margin-top: 32px;
}

.cardAddress p {
  color: #848484;
}

.cardAddress p:nth-child(2),
.cardAddress p:nth-child(3){
  margin-top: 8px;
}

.editAddress {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #ff2351;
  text-decoration: underline;
  cursor: pointer;
}

.subTitle {
  line-height: 1;
  margin-top: 52px;
}

.typePay {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
}

@media (max-width: 480px){

  .cardAddress {
    width: 100%;
  }
  
}